@import "tailwindcss";

/* Light theme only */
:root {
  color-scheme: light;
}

html, body {
  height: 100%;
}

@layer base {
  body { font-family: var(--font-body); }
  h1,h2,h3,h4,h5,h6 { font-family: var(--font-title); }
}
